<nav class="container-menu-aside">
  <div class="container-menu-arrow">
    <div class="menu-arrow">
      <div class="item-menu">
        <i class="material-icons">grid_view</i>
        <a href="{% url 'admin_overview' %}">Dashboards</a>
      </div>

      <i class="material-icons">navigate_next</i>
    </div>
    <div class="content-menu-arrow">
      <a href="{% url 'admin_overview' %}" class="overview">Overview</a>
      <a href="{% url 'admin_tickets' %}" class="tickets">Tickets</a>
    </div>
  </div>
  <div class="item-menu">
    <i class="material-icons">group</i>
    <a href="#" class="customers">Customers</a>
  </div>

  <div class="container-menu-arrow">
    <div class="menu-arrow">
      <div class="item-menu">
        <i class="material-icons">api</i>
        <a href="#">Integrations</a>
      </div>

      <i class="material-icons">navigate_next</i>
    </div>
    <div class="content-menu-arrow">
      <a href="#" class="apis">APIs</a>
      <a href="#" class="integration">All Integrations</a>
    </div>
  </div>

  <div class="item-menu">
    <i class="material-icons">insert_chart</i>
    <a href="#" id="metrics">Metrics</a>
  </div>

  <div class="container-menu-arrow">
    <div class="menu-arrow">
      <div class="item-menu">
        <i class="material-icons">terminal</i>
        <a href="#">Apps</a>
      </div>

      <i class="material-icons">navigate_next</i>
    </div>
    <div class="content-menu-arrow">
      <a href="" class="add-app">Add</a>
      <a href="" class="list-app">All Apps</a>
    </div>
  </div>
  <div class="item-menu">
    <i class="material-icons">tune</i>
    <a href="#" class="settings">Settings</a>
  </div>
</nav>
