<section class="container-status-customer">
  <header>
    <h3>SOAR Integration</h3>
    <span>Activation Status</span>
  </header>
  <table class="table">
    <tr class="head-table">
      <th>CUSTOMER</th>
      <th>SIEM</th>
      <th>STATUS</th>
    </tr>
    {% for item in customers %}
        <tr class="{% if forloop.counter|divisibleby:2 %}item-table bg-dark{% else %}item-table bg-white{% endif %}">
            <td>{{item.customer_name}}</td>
            <td>{{item.siem_name}}</td>
            <td class="{% if item.status == 'Activated'%}color-green{% else %}color-gray{% endif %}">{{item.status}}</td>
        </tr>
    {% endfor %}
  </table>
</section>
