*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

#dash, #dash i,
#forms, #forms i,
#forum, #forum i,
#support, #support i,
#admin, #admin i {
    color: var(--text-color);
}
.positive {
    background-color: #7dd1996f;
    color: var(--green-color-dark);
}
.negative {
    background-color: rgba(246, 126, 126, 0.831);
    color: rgb(148, 31, 31);
}

.current-date-active {
    transform: scale(1.12);
    border: 2px solid rgba(0, 0, 0, 0.771);
}

.on-notice-a{
    background-color: #1C84C6;
    color: white;
}
.on-notice-b{
    background-color: #F8AC59;
    color: white;
}
.on-notice-c{
    background-color: #6CB8E4;
    color: white;
}
.on-notice-d{
    background-color: #D1DADe;
    color: white;
}

.bg-dark {
    background-color: #F4F7F9;
}
.bg-white {
    background-color: white;
}
.color-green {
    color: var(--green-color-dark);
}
.color-gray {
    color: #757575;
}
.invisible {
    visibility: hidden;
    opacity: 0;
}

.low-color,
.closed-color {
    background-color: #F3F8FA;
    color: #848D92;
}
.medium-color {
    background-color: #FFF8ED;
    color: #c39142;
}
.high-color {
    background-color: #FFEAEF;
    color: #97344b;
}
.open-color {
    background-color: #F1FAEE;
    color: var(--green-color-dark);
}
.running-color {
    font-weight: bolder;
    color: var(--green-color-dark);
}
.hidden {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.02);
}


:root {
    --green-color-dark: #18A689;
    --green-color-light: #18a68a99;
    --primary-color-dark: #263949;
    --secudary-color-dark: #293846;
    --background-color: #EDF6F854;
    --box-color: #FFFFFF;
    --text-color: #1A1A1A;
    --text-color-dark: #b7c3c3;
    --text-color-light: #DDFFFF;
    --text-title:  #676A6C;
    --text-description: #8f9193c5;
    --border-color: #cbd6e24c;
   
    --border-color: #EEEEEEbb;
}

body {
    background: var(--background-color);
}

#main-container {
    width: 100%;
    height: 94vh;
}

.header-container {
    width: 100%;
    height: 3.5rem;

    border-bottom: 0.4px solid var(--border-color);
    background-color: white;

    display: flex;
    align-items: center;

    justify-content: space-between;
}

/* Block common configuration */
.block-case-container,
.block-forum-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 15px;

    background-color: white;
}
.block-case-container header,
.block-forum-container header {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-case-container header h3,
.block-forum-container header h3 {
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;

    color: var(--text-color);
}

.forms-input-tickets {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.127);
    transition: 0.6s;
}
.forms-input-tickets form{
    width: 25%;
    height: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 5px;
    background-color: white;
}
.forms-input-tickets form input {
    width: 80%;
    height: 10%;

    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;

    padding: 15px;
    background-color: #E6EFEF;
    border: none;
    outline: none;
}
.forms-input-tickets form .selects {
    width: 86%;
    height: 40%;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.forms-input-tickets form .selects label {
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.forms-input-tickets form .selects select {
    width: 100%;
    height: 15%;

    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;

    padding: 5px;

    background-color: #E6EFEF;
    border: none;
    outline: none;
}
.forms-input-tickets form .buttons {
    width: 80%;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 5px;
}
.forms-input-tickets form .buttons button {
    width: 49%;
    height: 50px;

    border: none;
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}
.forms-input-tickets form .buttons #cancel {
    background-color: rgba(255, 0, 0, 0.553);
}
.forms-input-tickets form .buttons #cancel:hover {
    background-color: rgba(255, 0, 0, 0.696);
}
.forms-input-tickets form .buttons #save {
    background-color: var(--green-color-dark);
}
.forms-input-tickets form .buttons #save:hover {
    background-color: #0e6c59;
}