.container-status-customer {
    width: 100%;
    height: 100%;

    background-color: white;

    overflow: hidden;
}
.container-status-customer header {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
}
.container-status-customer header h3 {
    font-size: 10.2pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;

    color: var(--title-color);
}
.container-status-customer header span {
    width: calc(fit-content + 4px);
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 9pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: var(--green-color-light);
    color: white;

    padding: 5px;
    border-radius: 3px;
}

.container-status-customer .table {
    width: 100%;
    height: 96%;

    display: flex;
    flex-direction: column;

    overflow: auto;
}
.container-status-customer .table .head-table {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #6b6b6b;
    padding: 15px ;
}
.container-status-customer .table .head-table th {
    width: 33%;
    height: fit-content;

    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;

    color: var(--title-color);

    text-align: start;
}
.container-status-customer .table .head-table th:last-child{
    text-align: end;
}
.container-status-customer .table .head-table th:nth-child(2) {
    text-align: center;
}

.container-status-customer .table .item-table {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-status-customer .table .item-table td {
    width: 33%;
    height: fit-content;

    display: flex;
    align-items: center;

    font-size: 9.5pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;

    color: var(--text-color-dark);
    border-bottom: 0.3px solid var(--border-color);
}
.container-status-customer .table .item-table td:first-child{
    padding-left: 30px;
}
.container-status-customer .table .item-table td:nth-child(2){
    justify-content: center;
}
.container-status-customer .table .item-table td:last-child{
    justify-content: end;
    padding-right: 20px;
}

